@import "base/variables";

// Foundation
@import "base/foundation-settings";
@import "foundation";
@include foundation-everything;

// Components

// General
.container {
	max-width: 1200px;
	margin: 50px auto;
	padding: 15px;
	border: 10px solid black;
	border-radius: 7.5px;
	text-align: center;
}

body {
  background-image: url("https://images.unsplash.com/photo-1467094568967-95f87ee9c873?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=51fe3b51e0512cc9fe5115040716205b"); 
  background-repeat: no-repeat; 
  background-position: center;
  background-attachment: fixed;       
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
} 

a {
  border: 2px solid white;
  max-width: 50%;
  margin: 0 auto;
  padding: 12px;
  background: #55acee;
  color: white;
}