@import "base/variables";

// Foundation
@import "base/foundation-settings";
@import "foundation";
@include foundation-everything;

// Components

// General
.container {
	max-width: 1200px;
	margin: 50px auto;
	padding: 15px;
	border: 10px solid black;
	border-radius: 7.5px;
	text-align: center;
}
