@import "base/variables";

// Foundation
@import "base/foundation-settings";
@import "foundation";
@include foundation-everything;

// Components

// General
.container {
	max-width: 1200px;
	margin: 50px auto;
	padding: 15px;
	border: 10px solid black;
	border-radius: 7.5px;
	text-align: center;
}

body {
  // background-image: url("http://www.pachd.com/free-images/san-francisco/bay-bridge/bay-bridge-17.jpg"); 
  background-repeat: no-repeat; 
  background-position: center;
  background-attachment: fixed;       
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
} 
